<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<style>
    *{
        margin: 0px;
    }
    .container {
        width: 100%;
        margin: auto;
        padding-bottom: 50px;
    }
    .confirm-btn{
        background-color: green;
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
        font-size: 18px;
    }
    .link{
        padding: 10px;
        background-color: aqua;
        color: white;
        border-style: none;
    }
</style>
<body>
    <table class="container">
        <tr>
            <td>
                <table width="600" style="margin: auto;">
                    <tr>
                        <td style="background-color: white; text-align: center;">
                            <p style="color: #000000; font-size: 45px; font-weight: bold;">
                                T2G Library
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <table width="600" style="margin: auto;">
                    <tr>
                        <td>
                            <img src="https://cdn.pixabay.com/photo/2015/12/05/08/25/fantasy-1077863_640.jpg" alt="image"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Hello <%= name %>,</p>
                            <h2 style="font-size: 35px;">Booking Confirmation</h2>
                            <p style="color: black; font-size: 30px; margin: 10px 0px; font-weight: 400;">
                                Your booking has been confirmed!
                            </p>
                            <p style="color: black; font-size: 20px; margin: 10px 0px; font-weight: 400; max-width: 500px;">
                                Booking Details:
                            </p>
                            <ul style="color: black; font-size: 20px; margin: 10px 0px; font-weight: 400;">
                                <li>Booking ID: <%= bookingId %></li>
                                <li>Tour/Hotel Name: <%= bookingName %></li>
                                <li>Location: <%= location %></li>
                                <li>Date: <%= date %></li>
                                <li>Price: <%= price %></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="600" style="margin: auto;">
                    <tr>
                        <td style="text-align: center; padding-top: 20px;">
                            <a href="<%= confirmationLink %>" class="confirm-btn">Confirm Booking</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
